@import '../colorCodes.scss';

.bgOne:before {
  height: 1000px;
  background: $c-blue;
}

.content {
  max-width: 100;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.diagonalBox {
  position: relative;
  margin-top: -1px;
  /* padding: 3em 0; */

}
.diagonalBox::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: skewY(-7deg);
  transform-origin: 50% 0;
  outline: 1px solid transparent;
  backface-visibility: hidden;
}

@media screen and (min-width: $s-desktopMin) {
  .diagonalBox::before{
    transform: skewY(0deg);
  }
}
