@import '../colorCodes.scss';
ul{
  padding: 0;
}

li{
  list-style: none;
}


.topText{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $c-darkBlue;
  text-align: center;
  h1{
    font-weight: 800;
    font-size: 1.2em;
    letter-spacing: 0.0em;
  }
  p{
    font-weight: 300;
    font-size: 14px;
    padding: 1em 2.5em;
  }
}

//bgOne is "fake"
.bgOne:before {
  height:90px;
  transform: skewY(-7deg);
  background: $c-blue;
}
.bgOne{
  height: 38px;
}

.bgTwo:before {
  // height: 150px;
  transform: skewY(3.5deg);
  background: $c-blue;
}
.bgThree:before {
  // height: 150px;
  transform: skewY(3.5deg);
  background: $c-lightBlue;
}

.bgFour:before {
  transform: skewY(3.5deg);
  background: $c-blackBlue;
}
.bgFour{
  height: 25px;
}

.content {
  max-width: 100;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.diagonalBox {
  position: relative;
  margin-top: -1px;
  /* padding: 3em 0; */

}
.diagonalBox::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform-origin: 50% 0;
  outline: 1px solid transparent;
  backface-visibility: hidden;
}

.steps{
  color: $c-darkBlue;
  text-align: center;
  h3{
    font-weight: 300;
    font-size: 1.3em;
    letter-spacing: 0.0em;
    margin: 0;
    // padding: 1em;
  }
  img{
    padding: 1em
  }
  p{
    font-weight: 300;
    font-size: 0.7em;
    letter-spacing: 0.0em;
    padding: 0em 2em;
  }
}

.step{
  padding: 2em;
  padding-bottom: 0.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.desktop{
  display: none;
}
.mobile{
  display: initial;
}

@media screen and (min-width: $s-desktopMin) {

  .mobile{
    display: none;
  }
  .desktop{
    display: initial;
  }
  .diagonalBox::before{
    transform: skewY(0deg);
  }
  .topText{
    h1{
      margin-top: 1em;
    }
    p{
      margin: 0 20vw;
    }
  }
  .steps{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: #{"min(100vw, 1000px)"};
    p{
      padding: 0;
      padding-top: 0.5em;
    }
  }

  //Step Icons
  .step img{
    width: #{"min(15vw, 150px)"};
    height: #{"min(15vw, 150px)"};
    padding-top: 0;
  }

  //Arrows
  .steps > img{
    width: #{"min(6vw, 50px)"};
    height: #{"min(6vw, 50px)"};
  }

  .bgThree::before{
    background-color: initial;
  }
  .desktopTexture{
    padding-bottom: 6em;
    background-image: url("../Media/How-Texture.png");
    background-color: $c-lightBlue;
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat; /* Do not repeat the image */
  }
  .textWrapper{
    margin-top: 1em;
  }
  .bgOne::before{
    background: none;
  }
  .bgTwo::before{
    background-color: rgba(0,0,0,0.03);
  }
  .bgFour::before{
    background-color: $c-background;
    transform: skewY(5deg);
  }
  .bgFour{
    margin-top: -40px;
    height: 1000px;
  }

  .mainButton{
    display: block;
    color: white;
    background: $c-pink;
    font-size: 1.1em;
    font-weight: 800;
    border: none;
    border-radius: 2em;
    padding: 0.25em 1.4em;
    margin: 0 auto;
  }
}
