@import '../App.css';
*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.wrapper{
  background: var(--c-background) url('../Media/HeroIcon-mobile.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 45% 5%;
  background-size: 60% 60%;
}

.nav{
  display: flex;
  align-items: baseline;
  list-style: none;
  justify-content: space-between;
  color: var(--c-dark-blue)
}

.nav li{
  padding: 1.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img{
  width: 40px;
  height: 40px;
}

.backImg{
  left: 40px;
}

.tagline{
  padding: 1.5em;
  color: var(--c-dark-blue);
  position: relative;
}

.tagline h1{
  font-weight: 800;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
}

.tagline p{
  font-weight: 400;
  font-size: 1em;
  width: 60%;
  line-height: 1.2em;
}

.mainButton{
  color: white;
  background: var(--c-pink);
  font-family: inherit;
  font-size: 1.1em;
  font-weight: 800;
  border: none;
  border-radius: 2em;
  padding: 0.25em 1.4em;

}

.buttonWrap{
  margin-top: 6em;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.mainButton:active{
  color:grey;
}

.diagonalBox {
  position: relative;
  padding: 3em 0;
  margin-top: -1px;

}
.diagonalBox::before{
  /* background-color: var(--c-dark-blue); */
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: skewY(-10deg);
  transform-origin: 50% 0;
  outline: 1px solid transparent;
  backface-visibility: hidden;
}

.prevSection{
  height: 200px;
  background-color: blue;
}

.nextSection{
  height: 300px;
  background-color: red;
}

.content {
  max-width: 100;
  margin: 0 auto;
  padding: 1.5em;
  position: relative;

  /* -----------
  enable the border to see, that the content
  perfectly fits into the section withou
  bleeding into the adjecting areas:
  ------------ */
  /* border: 2px dashed #fff8; */
}
