@import '../colorCodes.scss';

.heroImage{
  background-position: 45% 55%;
  background-size: 60% 60%;
  background-image: url('../Media/HeroIcon-mobile.svg'); /* The image used */
  background-color: $c-background; /* Used if the image is unavailable */
  height: 500px;
  background-repeat: no-repeat; /* Do not repeat the image */
}

.nav{
  display: flex;
  align-items: stretch;
  list-style: none;
  justify-content: space-between;
  color: $c-darkBlue;
  padding: 0;
}

.nav li p{
  margin: 0;
  padding: 0;
}
.nav li{
  padding: 1.1em;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background: $c-background;
  color:$c-background;
}

.signIn{
  padding: 1em;
}

.logo img{
  width: 40px;
  height: 40px;
}

.backImg{
  left: 40px;
}

.tagline{
  padding: 1.5em;
  color: $c-darkBlue;
  position: relative;
}

.tagline h1{
  font-weight: 800;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  max-width: 400px;

}

.tagline p{
  font-weight: 400;
  font-size: 1em;
  width: 60%;
  line-height: 1.2em;
}

.mainButton{
  color: $c-background;
  background: $c-pink;
  font-size: 1.1em;
  font-weight: 800;
  border: none;
  border-radius: 2em;
  padding: 0.25em 1.4em;

}

.buttonWrap{
  margin-top: 6em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

.mainButton:active{
  color:grey;
}

.diagonalBox {
  position: relative;
  margin-top: -1px;
  /* padding: 3em 0; */

}
.diagonalBox::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: skewY(-7deg);
  transform-origin: 50% 0;
  outline: 1px solid transparent;
  backface-visibility: hidden;
}

.bgOne:before {
  background: $c-darkBlue;
}
.bgOne{
  height: 30px;
}

.bgTwo:before {
  height: 1000px;
  background: $c-blue;
}

.content {
  max-width: 100;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
