@import '../colorCodes.scss';

.body{
  position: relative;
  z-index: -1;
  top: -85px;
  overflow:hidden;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background: $c-background;
  color:$c-background;
}
