@import '../colorCodes.scss';
ul{
  padding: 0;
}

li{
  list-style: none;
}


.topText{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  h1{
    color: $c-darkBlue;
    font-weight: 800;
    font-size: 19px;
    letter-spacing: 0.0em;
  }
  p{
    color: black;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.2em;
    padding: 1em 2.5em;
  }
}

//bgOne is "fake"
.bgOne:before {
  height:96px;
  transform: skewY(-7deg);
  background: $c-blue;
}
.bgOne{
  height: 38px;
}

//"How it works" and p after that
.bgTwo:before {
  position: relative;
  z-index: -1;
  // height: 150px;
  transform: skewY(3.5deg);
  background: $c-blue;
}

//Step 2
.bgThree:before {
  // height: 150px;
  background-color:rgba(0,0,0,0.03);
  transform: skewY(3.5deg);
}

.bgFive{
  &:before{
    transform: skewY(3.5deg);
    background-image: url("../Media/How-Texture.png");
    background-size: 300%;
  }
}
.content {
  max-width: 100;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.diagonalBox {
  position: relative;
  margin-top: -1px;
  /* padding: 3em 0; */

}
.diagonalBox::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform-origin: 50% 0;
  outline: 1px solid transparent;
  backface-visibility: hidden;
}

.steps{
  text-align: center;
  h3{
    color: $c-darkBlue;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.0em;
    margin: 0;
    // padding: 1em;
  }
  img{
    padding: 1em
  }
  p{
    color: black;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.0em;
    padding: 0em 1em;
  }
}

.step{
  padding: 2em;
  padding-bottom: 0.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.desktop{
  display: none;
}
.mobile{
  display: initial;
}

@media screen and (min-width: $s-desktopMin) {

  .mobile{
    display: none;
  }
  .desktop{
    display: initial;
  }
  .diagonalBox::before{
    transform: skewY(0deg);
  }
  .topText{
    h1{
      margin-top: 1em;
    }
    p{
      margin: 0 20vw;
      width: 50vw;
    }
  }
  .steps{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 1em 0;
    width: #{"min(100vw, 1000px)"};
    p{
      padding: 0;
      padding-top: 0.5em;
    }
  }

  .step{
    padding: 0 1em;
  }

  //Step Icons
  .step img{
    width: #{"min(15vw, 150px)"};
    height: #{"min(15vw, 150px)"};
  }

  //Arrows
  .steps > img{
    padding: 0;
    width: #{"min(3vw, 30px)"};
    height: #{"min(3vw, 30px)"};
  }

  .topText > h1{
    margin-top: 2em;
  }

  //step 2
  .bgThree{
    background-color: initial;
    &:before{
      background-color: initial;
    }
  }
  .desktopTexture{
    padding-bottom: 7em;
    background-image: url("../Media/How-Texture.png");
    background-color: $c-lightBlue;
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat; /* Do not repeat the image */
  }
  .bgOne::before{
    background: none;
  }
  .bgTwo::before{
    background-color:rgba(0,0,0,0.03);
  }
  .bgFive{
    &:before{
      background-image: none;
    }
  }

  .mainButton{
    display: block;
    color: white;
    background: $c-pink;
    font-size: 1.1em;
    font-weight: 800;
    border: none;
    border-radius: 2em;
    padding: 0.25em 1.4em;
    margin: 0 auto;

    &:hover{
      background: $c-pinkHov;
    }
    &:active{
      background: $c-darkBlue;
    }
  }
}
