@import '../colorCodes.scss';

.mainWrapper{
  ul{
    margin: 1em 0;
    padding: 0 0 0 40px;
    li{
    display: list-item;
    list-style-position: outside;
    list-style-type: disc;
    margin: initial;
    padding: initial;
    }
  }
  ol li{
      list-style-type: decimal;
    }

  blockquote {
    font-size: 1.5em;
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    &:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
      }
    p{
      display: inline;
    }
  }

}
