@import '../colorCodes.scss';

.mainWrapper{
  ul{
    margin: 1em 0;
    padding: 0 0 0 40px;
    li{
    display: list-item;
    list-style-position: outside;
    list-style-type: disc;
    margin: initial;
    padding: initial;
    }
  }
  ol li{
      list-style-type: decimal;
    }
}
