@import '../colorCodes.scss';

.nav{
  z-index: 10;
  height: 85px;
  display: flex;
  align-items: stretch;
  list-style: none;
  justify-content: space-between;
  color: $c-blackBlue;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.logo{
  padding-left: 1.1em;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg{
    width: 40px;
    height: 40px;
  }
}

.logoAlt{
  z-index: 20;
  color: $c-blackBlue;
  height: 75px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  svg{
    z-index: 20;
    width: 40px;
    height: 40px;
  }
  &.on{
    path{
      fill: white;
    }
    .abroadText{
      z-index: 11;
      color:white;
    }
  }

}


.asesText{
  display: none;
}
.abroadText{
  font-weight: 800;
  margin: 0;
  margin-bottom: -15px;
  padding: 0;
}

.navOptions{
  a{
    padding: 0 30px;
    color: $c-blackBlue;
  }
  display: flex;
  align-items: center;
}

//Depening on the background nav items become white
.brightText > a{
  color: white;
  &:hover{
    color:#eee;
  }
}


//Mobile hamburger menu stuff
.menuToggle {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 26px;
  cursor: pointer;
}
.menuToggle.on .one {
  background: white;
  -moz-transform: rotate(45deg) translate(7px, 7px);
  -ms-transform: rotate(45deg) translate(7px, 7px);
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  transform: rotate(45deg) translate(7px, 7px);
}
.menuToggle.on .two {
  opacity: 0;
}
.menuToggle.on .three {
  background: white;
  -moz-transform: rotate(-45deg) translate(8px, -10px);
  -ms-transform: rotate(-45deg) translate(8px, -10px);
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px);
}

.one,
.two,
.three {
  width: 100%;
  height: 5px;
  background: $c-blackBlue;
  margin: 6px auto;
  backface-visibility: hidden;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

nav ul {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

nav .hidden {
  display: none;
}
nav ul a {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-decoration: none;
  color: white;
  font-size: 3em;
  line-height: 1.5;
  width: 100%;
  display: block;
}
nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.menuSection.on{
    z-index: 5;
    width: 100%;
    height: 100%;
    display: block;
    background-color: $c-darkBlue;
    opacity: 0.97;
    position: absolute;
    top: 0;
    left: 0;
}


@media screen and (min-width: $s-desktopMin) {


  .logo{
    flex-direction: row;
    align-items: center;
  }

  .asesText{
    display: initial;
    font-weight: 600;
    padding: 0.8em;
    margin: 0;
  }
  .abroadText{
    font-weight: 400;
    padding: 0;
  }
}
